.master-info{
  background: #fff;
}
.header{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  .short-info{
    @include flex-column();

    .name{
      @include text-Subtitle2();
      color: $color-dark;
    }
    .post{
      @include text-Body1();
      color: $color-silver-30;
    }
  }
}
.body{
  @include flex-column();
  gap: 20px;
  background: #F7F7F7;
  padding: 12px 8px;

  .list-serv{
    border-radius: 12px;
    background:  #FFF;
    padding: 8px;
    @include flex-row();
    gap: 8px;
    flex-wrap: wrap;
    .title{
      @include flex-center();
      padding: 4px 8px;
      border-radius: 30px;
      border: 1px solid #FF8C00;
      @include text-Overline;
      color: #171717;
    }
  }

  .links{
    @include flex-column();
    gap: 8px;
  }

  .list-services{
    @include flex-column();
    gap: 8px;
    padding-bottom: 30px;

    .list {
      @include flex-row();
      flex-wrap: wrap;
      gap: 8px;

      .service-card{
        width: 100%;
        height: 152px;
        flex: 1 1 48%;
      }
    }

    .title{
      @include flex-row();
      justify-content: space-between;
      @include text-Subtitle3();
      color: rgba(28, 27, 31, 1);

    }

    &.active{
      margin-bottom: 150px;
    }
  }
}
.avatar{
  position: relative;
  .badge{
    position: absolute;
    top: 0;
    right: 0;
    background: $color-orange-60;
  }
}

.button{
  width: 100%;
}