$color-purple-lighter: #ffffff;
$color-purple: #7b68ee;
$color-purple-darkness: #6454c7;
$color-purple-light: #c4c4ff;
$color-purple-lighter: #bbc4ef;
$color-light: #ffffff;
$color-lightness: #f7f7ff;
$color-lighter: #efefff;

$color-red-light: #b73d3d;

$color-dark-light: #79747e;
$color-dark-lighter: #c9c5ca;


$color-dark-50: #1c1b1f;
$color-light-70: #E0E0E0FF;
$color-dark: #000000;
$color-silver-50: #AAAAAA;
$color-silver-30: #707579;
$color-orange-60: #FF7648;
$color-orange-30: #F1A58B;
$color-shading-dark: #261A59E5;
$color-shading-60: #3D5266;
$color-silver-60: #A2ACB0;
$color-dark-70: #1E293B;
$color-red-60: #E53935;
$color-silver-80: #868686;

$transition-default: 0.5s all;
$transition-fast: 0.3s all;

$font-poppins: "Poppins", sans-serif;
